html {
    background-color: black;
    height: 100%;
}

body {
    display: flex;
    height: 100%;
    flex-direction: column;
}

#header_menu {
    height: 1.5rem;
}

.container {
    display: flex;
    margin: auto;
    width: 100%;
    flex-grow: 1;
}

#main_window {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.side {
    width: clamp(150px, 15%, 300px);
}

#editor {
    width: 100%;
    flex-grow: 1;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 0px;
    outline: none;
    resize: none;
    font-size: 1.5rem;
}







#terminal {
    height: clamp(5rem, 25%, 10rem);
}




